{% extends 'base.html.twig' %}

{% block title %}Edit Chercheur{% endblock %}
 {% block pagetitle %}
     <a href="{{ path('app_chercheur_index') }}"><span class="fa fa-list" aria-hidden="true"></span>
         <div class="header-section text-center">
             Liste des Chercheurs
         </div>
     </a>
 {% endblock %}
 {% block menu %}
     <div class="header-section text-center">
         <h3>Edit</h3>
     </div>
     <div class="read-button mt-5 pull-right"><a href="{{ path('app_chercheur_new') }}">Create new<span class="fa fa-long-arrow-right" aria-hidden="true"></span></a></div>
 {% endblock %}
{% block body %}

    {{ include('chercheur/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('chercheur/_delete_form.html.twig') }}

{% endblock %}
